.course-title {
    margin: 16px auto 28px 0;
    color: #242424;
    font-size: 1.4rem;
    font-weight: 900;
}
.course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.course-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    background: #00000008;
    transition:
        transform 0.2s,
        box-shadow 0.2s;

    .ant-image {
        position: static !important;
    }
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px #0000001a;
    }
}

.course-info {
    margin-top: 10px;
}

.course-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.left-btn,
.right-btn {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 32px;
    height: 32px;
    color: #4b4b4b;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
    text-align: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
    padding-left: 8px;
}

.right-btn {
    right: -32px;
}
.slick-slide {
    height: 368px !important;
}
.slick-list {
    border-radius: 16px;
    overflow: hidden;
}
.slick-dots li button:before {
    font-size: 8px;
    line-height: 30px;
}
