@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    cursor: pointer;
    padding: 0 !important;
}

@layer utilities {
    .text-balance {
    }
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #d6dee1;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
.department-body svg {
    width: 14px !important;
    height: 14px !important;
}
@keyframes wink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1200;
        animation-timing-function: ease-in-out;
    }

    50% {
        stroke-dashoffset: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        stroke-dashoffset: 0;
        animation-timing-function: ease-in-out;
    }
}
.boxshadow {
    border-radius: 20px;
    box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}
.ant-btn-primary-custom:hover {
    color: #fff;
    border-color: #085379 !important;
    background: #085379 !important;
}
.ant-btn-primary-custom:focus {
    border-color: #1261a6 !important;
    background: #1261a6 !important;
}
.ant-modal-close {
    top: 15px !important;
}
.ant-modal-close-x {
    line-height: 0px !important;
}
.ant-btn {
    border-radius: 8px !important;
}
/* Đặt lại kiểu cho danh sách có thứ tự */
ol {
    list-style-type: decimal; /* Số thứ tự (1, 2, 3, ...) */
    padding-left: 20px; /* Thêm lề trái để tạo khoảng cách */
}

/* Đặt lại kiểu cho danh sách không có thứ tự */
ul {
    list-style-type: disc; /* Dấu chấm (bullet points) */
    padding-left: 20px; /* Thêm lề trái để tạo khoảng cách */
}

/* Nếu bạn muốn chỉnh sửa kiểu của các item trong danh sách */
ol li,
ul li {
    margin-bottom: 5px; /* Thêm khoảng cách giữa các mục trong danh sách */
}
/* Khôi phục lại các thẻ h1 đến h5 với kiểu chữ mặc định */
h1,
h2,
h3,
h4,
h5 {
    font-weight: bold; /* Làm đậm chữ */
    margin-top: 0; /* Loại bỏ khoảng cách phía trên */
    margin-bottom: 0.5em; /* Khoảng cách phía dưới */
}

/* Tùy chỉnh cụ thể cho từng thẻ */
h1 {
    font-size: 2.5rem; /* Cỡ chữ của h1 */
}

h2 {
    font-size: 2rem; /* Cỡ chữ của h2 */
}

h3 {
    font-size: 1.75rem; /* Cỡ chữ của h3 */
}

h4 {
    font-size: 1.5rem; /* Cỡ chữ của h4 */
}

h5 {
    font-size: 1.25rem; /* Cỡ chữ của h5 */
}

/* Nếu bạn muốn thêm màu sắc cho các thẻ */
h1 {
    color: #333; /* Màu cho h1 */
}

h2 {
    color: #555; /* Màu cho h2 */
}
