.custom-content-terms-of-use {
    text-align: justify;
    line-height: 1.7;
    padding-bottom: 80px;

    p {
        font-size: 16px;
        padding: 12px 0;
    }
    ul {
        list-style-type: disc;
        padding-left: 32px;
    }
    li {
        font-size: 15px;
        font-style: italic;
        padding: 12px 0;
    }

    h2 {
        font-size: 23px;
        padding: 24px 0;
        font-weight: 600;
    }

    h3 {
        font-size: 18px;
        padding: 12px 0;
        font-weight: 500;
    }

    h4 {
        font-size: 18px;
        font-weight: 500;
    }
}
