.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    border-radius: 8px;
    .text-title {
        font-weight: 700;
        font-size: 110px;
        color: rgba(27, 49, 133, 0.8);
    }
}
